---
layout: default.liquid
title: Den Antares
---
<div class="button_well">
  <p>Home of (some of) my various projects.</p>
</div>

{% for post in collections.posts.pages %}
<div class="button_panel">
  <h4>
    <a href="/{{ post.permalink }}">{{ post.title }}</a>
  </h4>
  <text style="color:#ccc">
    Den Antares - {{ post.published_date | date: "%d %b %Y" }}
  </text>
  <div class="button_panel_body">
    <!-- post.tags -->
    {{ post.excerpt }}
    <!-- For edge cases involving document flow around floated elements -->
    <div style="clear: both;"></div>
    <a href="/{{ post.permalink }}">Continue reading...</a>
    <!-- So border is properly spaced below continue reading... link -->
    <div></div>
  </div>
</div>
{% endfor %}
